{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobileNavToggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
         <h1>{{ .Title }}</h1>
         {{ .Content }}
         {{ template "_internal/disqus.html" . }}
         <div class="cal">
          <h3 class="cal-header">Find me at an upcoming event!</h3>
          <iframe src="https://calendar.google.com/calendar/embed?src=vhr0gi6gl2sftsm1tjcfku3oak%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="100%" height="500vw" frameborder="0" scrolling="no"></iframe>
         </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
